body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header
{
    background-color:burlywood;
    height: 12vh;
    display: flex;
    border-bottom: 2px solid red;
    justify-content: space-around;
}

.img1
{ height: 10vh;
    width: 10vw;
    padding: 10px;


}

ul{
    list-style: none;
     
}
li a{
    text-decoration: none;
color : white;
font-weight: bold;
display: inline;
}

li{
     display: inline;
     padding: 10px;
}

.button1
{
     border-radius: 20px;
     border:2px solid wheat;
     color: gray;
 padding : 10px;
 width: 10vw;
 height: 10vh;
 
     background-color: antiquewhite;
}

.button1:hover
{
    cursor: pointer;
    background-color: orange;
}

.section1
{
    /* background-color: aqua; */
    width:100vw;
    height: 100vh;
 background-image: url(images/image.png);
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
  
 
 /* background-repeat: no-repeat; */
 /* background-size: cover;  */
}

.button2
{
 opacity: .4;
 height: 4vh;
 background-color: black;
 /* border-radius: 10px; */
 color:white;
}

.section1 h1{
    font-size:5em;
    margin: 0;
    color: white;
    padding-top: 25vh;

}
